<head th:fragment="head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- LINK Styles.css -->
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<!-- CDN Tailwind CSS -->
<script src="https://cdn.tailwindcss.com"></script>
<!-- CDN FlowBite -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"
	rel="stylesheet" />
<!-- CDN FontAwesome -->
<script src="https://kit.fontawesome.com/6e591ef5df.js"
	crossorigin="anonymous"></script>
<!-- CDN GOOGLE FONTS -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Tangerine">