<header th:fragment="header" class="">
<nav class="bg-white dark:bg-gray-900 fixed w-full top-0 left-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a th:href="@{/}" class="xs-screen-margin-logo xs-screen flex items-center">
      <img src="https://img.freepik.com/free-vector/colorful-letter-s-with-black-background_483537-4543.jpg" class="h-8 mr-1 rounded-full" alt="Student Logo">
      <span class="self-center normal-screen-text font-semibold whitespace-nowrap dark:text-white tracking-wide">Students</span>
  </a>
  <div class="flex md:order-2">
  
  <!-- BUTTONS Login Logout -->
  <div class="log-button-xs-screen flex space-x-2 mt-2 md:mt-0">
  <!-- BUTTON LOGIN -->
  <div>
  <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="xs-screen-right-top text-white bg-fuchsia-700 hover:bg-fuchsia-800 focus:ring-4 focus:outline-none focus:ring-fuchsia-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-fuchsia-600 dark:hover:bg-fuchsia-700 dark:focus:ring-fuchsia-800">
  Log in
  </a> 
  </div>
  <!-- BUTTON LOGOUT -->
  <div>
  <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="xs-screen-right-top-button text-white bg-fuchsia-700 hover:bg-fuchsia-800 focus:ring-4 focus:outline-none focus:ring-fuchsia-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-4 md:mr-0 dark:bg-fuchsia-600 dark:hover:bg-fuchsia-700 dark:focus:ring-fuchsia-800">
  Log Out
</a>
  </div>
      </div>
<!-- END BUTTONS -->      
      <button sec:authorize="isAuthenticated()" data-collapse-toggle="navbar-sticky" type="button" class="xs-screen-right-top-menu inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>
  <div sec:authorize="isAuthenticated()" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
   <!-- Verifica si la URL actual es la página de inicio "/" -->

<th:block th:unless="${#httpServletRequest.requestURI == '/'}">
<li>
    <a th:href="@{/}"  class="block py-2 pl-3 pr-4 text-white bg-fuchsia-700 rounded md:bg-transparent md:text-fuchsia-700 md:p-0 md:dark:text-fuchsia-500" aria-current="page">Home</a>
</li>

</th:block>
      <li>
        <a th:href="@{/students}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Student</a>
      </li>
      <li>
        <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 cursor-not-allowed" disabled>Services</a>
      </li>
      <li>
        <a th:href="@{contact/contact-form}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
</header>