<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<title>Create Students</title>   
</head>
<body class="dark:bg-gray-900">
<div th:replace="~{fragments/header :: header}"></div>
<div class="p-16 mt-20">

<form id="student-form" th:action="@{/students}" enctype="multipart/form-data" class="mx-auto lg:max-w-md dark:bg-gray-900" th:object="${student}" th:method="post">
<div id="error-container"></div>
  <div class="mb-6">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
    <input th:field="*{name}" type="text" id="student-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nicolas Yevenes">
  <div class="error-message" id="name-error"></div>
  </div>
  
  <div class="mb-6">
    <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last name</label>
    <input th:field="*{lastName}" type="text" id="student-last-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nicolas Yevenes">
   <div class="error-message" id="last-name-error"></div>
  </div>
  <div class="mb-6">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
    <input th:field="*{email}" type="text" id="student-email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nicolas Yevenes">
    <div class="error-message" id="email-error"></div>
  </div>
    <div class="mb-6">
    <label for="student-photo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Student Photo</label>
    <input th:field="*{studentPhoto}" type="file" id="student-photo" name="studentPhoto" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  </div>
    <div class="flex justify-center">
       <button type="submit" class="mt-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
<div id="global-error"></div>
    </div>

</form>

</div>
<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/js/validations.js}"></script>
</body>
</html>