.font-nunito {
  font-family: 'Nunito' sans-serif;
}

.font-cabin {
	font-family: 'Cabin', sans-serif;

}
.font-lilita {
	font-family: 'Lilita One', cursive;
}

.font-urbanist {
	font-family: 'Urbanist', sans-serif;
}

.font-didact {
	font-family: 'Didact Gothic', sans-serif;
}

.normal-screen-text {
	font-size: 1.875rem;
	line-height: 2.25rem; 
}
